#main {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font: black;
  padding: 20px;
}

.break-time {
  background-color: rgb(116, 250, 255);
}

.session-time {
  background-color: rgb(94, 228, 105);
}

#break-display {
  display: inline-block;
  margin: 5px;
  width: 50%;
  text-align: center;
  border: 5px black solid;
  border-radius: 15px;
}

#session-display {
  display: inline-block;
  margin: 5px;
  width: 50%;
  text-align: center;
  border: 5px black solid;
  border-radius: 15px;
}

#session-countdown {
  display: block;
  margin: auto;
  width: 80%;
  text-align: center;
  border: 5px black solid;
  border-radius: 15px;
}

#start-reset-buttons {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 15px;
}

.btn {
  width: 75px;
}
