#main {
  font-family: "Noto Sans", sans-serif;
  font: black;
  padding: 20px;
}

#title {
  text-align: center;
  padding: 10px;
  margin: 30px;
  border: 3px solid black;
  border-radius: 15px;
}

.container {
  background-color: rgb(219, 116, 233);
}

.break-time {
  background-color: rgb(116, 250, 255);
}

.session-time {
  background-color: rgb(94, 228, 105);
}

#break-session-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#tomato-clock {
  display: block;
  text-align: center;
}

#tomato-picture {
  width: 200px;
}

#break-display {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 3px black solid;
  border-radius: 15px;
}

#break-length {
  font-size: 30px;
}

#session-display {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 3px black solid;
  border-radius: 15px;
}

#session-length {
  font-size: 30px;
}

#session-countdown {
  font-size: 30px;
  display: block;
  margin: auto;
  width: 420px;
  text-align: center;
  border: 3px black solid;
  border-radius: 15px;
}

#start-reset-buttons {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 15px;
}

.btn {
  margin: 2px;
  padding: 2px;
  font-size: 20px;
  height: 30px;
  width: 75px;
}
